.fmc-nav-basic:after{
	display: table;
	content: '';
	clear: both;
}
.fmc-nav-basic{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #161616;
	z-index: 20;
	-webkit-box-shadow: inset 0 -1px #000;
	box-shadow: inset 0 -1px #000;
}
.fmc-nav-layout{
	max-width: 1280px;
	margin: auto;
}
.fmc-nav-basic-logo{
	float: left;
	padding: 0 16px;
}
.fmc-nav-basic-logo img{
	display: block;
	width: 40px;
	padding-top: 5px;
}

.fmc-nav-basic-items{
	float: right;
}
.fmc-nav-basic-items-list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.fmc-nav-basic-items-list li{
	float: left;
	line-height: 50px;
	padding: 0 16px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	color: silver;
	display: block;
	position: relative;
}
.fmc-nav-basic-items-list li:hover{
	-webkit-box-shadow: inset 0 -4px teal;
	box-shadow: inset 0 -4px teal;
	color: #fefefe;
}
.fmc-nav-basic-items-list li a{
	display: block;
}
.fmc-nav-basic-toggle{
	float: right;
}
.fmc-nav-basic-toggle i{
	line-height: 50px;
	padding: 0 16px;
	color: #fefefe;
	font-size: 24px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.fmc-nav-basic-toggle i:hover{
	color: teal;
}
.fmc-nav-basic-toggle-active i{
	color: teal;
}
@media (min-width: 992px){
	.fmc-nav-basic-toggle{
		display: none;
	}
	.fmc-nav-basic-items{
		display: block!important;
	}
}
@media (max-width: 993px){
	.show{
		display: block;
	}
	.fmc-nav-basic-items{
		visibility: hidden;
		position: fixed;
		top: 50px;
		right: 0;
		bottom: 0;
		background-color: #161616;
		width: 0;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		overflow: auto;
		z-index: 10;
		-webkit-box-shadow: inset 1px 0 #000;
		box-shadow: inset 1px 0 #000;
		padding-bottom: 16px;
	}
	.fmc-nav-basic-items-active{
		visibility: visible;
		width: 220px;
	}
	.fmc-nav-basic-items-list li:first-child{
		padding-top: 8px;
	}
	.fmc-nav-basic-items-list li{
		float: none;
		text-align: right;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 40px;
	}

	.fmc-nav-basic-items-list li:hover{
		-webkit-box-shadow: inset -4px 0 teal!important;
		box-shadow: inset -4px 0 teal!important;
		color: #fefefe;
	}

	/*class plugin one page nav js*/
	#nav .current{
		color: #fefefe;
		-webkit-box-shadow: inset -4px 0 teal!important;
		box-shadow: inset -4px 0 teal!important;
	}
}

/*class plugin one page nav js*/
#nav .current{
	color: #fefefe;
	-webkit-box-shadow: inset 0 -4px teal;
	box-shadow: inset 0 -4px teal;
}

@media (max-width: 992px){
	.fmc-body-active{
		overflow: hidden!important;
	}
}
