/*------------------------------------------------------------------
[Master Stylesheet]

Project           : Flamecore Organization
Name Project      : Hover Smooth Effect
Version           : 1.0
Last change       : 01/09/2017 [Create Project]
Framework css	  : Core Framework 3.0 Pop Green http://getcore.github.io 
Plugin 1          : modernizr 3.5.0 (Custom Build)
Plugin 2          : StyleFix 1.0.3 & PrefixFree 1.0.7
Author            : Andika Chamberlin
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1.  Hover Basic
2.  Hover Middle
3.  Hover Middle Rotate
4.  Hover Two Side
5.  Hover Top Buttom
6.  Hover Top Bottom Half
7.  Hover Side Half
8.  Hover Circle
9.  Hover Perspective
10. Hover Four Direction
11. Hover Four Vertical
12. Hover Four Horizontal
13. Hover Four Middle
14. Hover Four Middle Circle
15. Hover Four Adaptation
16. Hover Animation
   
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

Background Hover : rgba(0,0,0,0.9)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body : 16px Segoe UI, sans-serif by Core Framework
-------------------------------------------------------------------*/

.fmc-frame{
	position: relative;
	height: 200px;
	border: 1px solid #f1f1f1;
	margin: 16px 0;
	background-image: url(../img/bird.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* fmc-hover-basic */
.fmc-hover-basic{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-basic:before{
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-basic:before{
	right: -100%;
}
.fmc-hover-basic:hover:before{
	right: 0%;
}

/* fmc-hover-middle */
.fmc-hover-middle{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-middle:before{
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s cubic-bezier(.79,.14,.15,.86);
}
.fmc-hover-middle:before{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
}
.fmc-hover-middle:hover:before{
	transform: translate(-50%,-50%) scale(1);
}

/* fmc-hover-rotate */
.fmc-hover-middle-rotate{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-middle-rotate:before{
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s cubic-bezier(.79,.14,.15,.86);
}
.fmc-hover-middle-rotate:before{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0) rotate(0deg);
}
.fmc-hover-middle-rotate:hover:before{
	transform: translate(-50%,-50%) scale(1) rotate(360deg);
}

/* fmc-hover-two-side*/
.fmc-hover-two-side{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-two-side:before{
	content: '';
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-two-side:after{
	content: '';
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-two-side:before{
	right: -50%;
}
.fmc-hover-two-side:hover:before{
	right: 0%;
}
.fmc-hover-two-side:after{
	left: -50%;
}
.fmc-hover-two-side:hover:after{
	left: 0%;
}

/* fmc-hover-top-bottom*/
.fmc-hover-top-bottom{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-top-bottom:before{
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-top-bottom:after{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-top-bottom:before{
	top: -50%;
}
.fmc-hover-top-bottom:hover:before{
	top: 0%;
}
.fmc-hover-top-bottom:after{
	bottom: -50%;
}
.fmc-hover-top-bottom:hover:after{
	bottom: 0%;
}

/* fmc-hover-top-bottom-half*/
.fmc-hover-top-bottom-half{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-top-bottom-half:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-top-bottom-half:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-top-bottom-half:before{
	top: -100%;
}
.fmc-hover-top-bottom-half:hover:before{
	top: 0%;
}
.fmc-hover-top-bottom-half:after{
	bottom: -100%;
}
.fmc-hover-top-bottom-half:hover:after{
	bottom: 0%;
}

/* fmc-hover-side-half*/
.fmc-hover-side-half{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-side-half:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-side-half:after{
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: .5s;
}
.fmc-hover-side-half:before{
	left: -100%;
}
.fmc-hover-side-half:hover:before{
	left: 0%;
}
.fmc-hover-side-half:after{
	right: -100%;
}
.fmc-hover-side-half:hover:after{
	right: 0%;
}

/* fmc-hover-circle*/
.fmc-hover-circle{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-circle:before{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-circle:before{
	bottom: -400px;
	right: -400px;
}
.fmc-hover-circle:hover:before{
	bottom: 0%;
	right: 0%;
}

/* fmc-hover-perspective*/
.fmc-hover-perspective{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
	perspective: 1000px;
}
.fmc-hover-perspective:before{
	content: '';
	position: absolute;
	top:0;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-perspective:after{
	content: '';
	position: absolute;
	right:0;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-perspective:before{
	left: 0;
	transform: rotateY(135deg);
	transform-origin: left;
}
.fmc-hover-perspective:hover:before{
	left: 0;
	transform: rotateY(0deg);
}
.fmc-hover-perspective:after{
	right: 0;
	transform: rotateY(-135deg);
	transform-origin: right;
}
.fmc-hover-perspective:hover:after{
	right: 0;
	transform: rotateY(0deg);
}

/* fmc-hover-four-direction*/
.fmc-hover-four-direction{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-four-direction1:before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-direction1:before{
	top: -50%;
	left: -50%;
}
.fmc-hover-four-direction:hover .fmc-hover-four-direction1:before{
	top: 0%;
	left: 0%;
}

.fmc-hover-four-direction1:after{
	content: '';
	position: absolute;
	top:0;
	right: 0;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-direction1:after{
	top: -50%;
	right: -50%;
}
.fmc-hover-four-direction:hover .fmc-hover-four-direction1:after{
	top: 0%;
	right: 0%;
}

.fmc-hover-four-direction2:before{
	content: '';
	position: absolute;
	left:0;
	bottom: 0;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-direction2:before{
	left: -50%;
	bottom: -50%;
}
.fmc-hover-four-direction:hover .fmc-hover-four-direction2:before{
	left: 0%;
	bottom: 0%;
}

.fmc-hover-four-direction2:after{
	content: '';
	position: absolute;
	bottom:0;
	right: 0;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-direction2:after{
	bottom: -50%;
	right: -50%;
}
.fmc-hover-four-direction:hover .fmc-hover-four-direction2:after{
	bottom: 0%;
	right: 0%;
}

/* fmc-hover-four-vertical*/
.fmc-hover-four-vertical{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
}
.fmc-hover-four-vertical1:before{
	content: '';
	position: absolute;
	top:0;
	width: 25%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-vertical1:before{
	top: -100%;
}
.fmc-hover-four-vertical:hover .fmc-hover-four-vertical1:before{
	top: 0%;
}

.fmc-hover-four-vertical1:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 25%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-vertical1:after{
	bottom: -100%;
}
.fmc-hover-four-vertical:hover .fmc-hover-four-vertical1:after{
	bottom: 0%;
}

.fmc-hover-four-vertical2:before{
	content: '';
	position: absolute;
	top: 0;
	right: 25%;
	width: 25%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-vertical2:before{
	top: -100%;
}
.fmc-hover-four-vertical:hover .fmc-hover-four-vertical2:before{
	top: 0%;
}

.fmc-hover-four-vertical2:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-vertical2:after{
	bottom: -100%;
}
.fmc-hover-four-vertical:hover .fmc-hover-four-vertical2:after{
	bottom: 0%;
}

/* fmc-hover-four-horizontal*/
.fmc-hover-four-horizontal{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.fmc-hover-four-horizontal1:before{
	content: '';
	position: absolute;
	top:0;
	width: 100%;
	height: 25%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-horizontal1:before{
	left: -100%;
}
.fmc-hover-four-horizontal:hover .fmc-hover-four-horizontal1:before{
	left: 0%;
}

.fmc-hover-four-horizontal1:after{
	content: '';
	position: absolute;
	top:0;
	width: 100%;
	height: 25%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-horizontal1:after{
	top: 25%;
	right: -100%;
}
.fmc-hover-four-horizontal:hover .fmc-hover-four-horizontal1:after{
	right: 0%;
}

.fmc-hover-four-horizontal2:before{
	content: '';
	position: absolute;
	bottom:0;
	width: 100%;
	height: 25%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-horizontal2:before{
	bottom: 25%;
	left: -100%;
}
.fmc-hover-four-horizontal:hover .fmc-hover-four-horizontal2:before{
	left: 0%;
}

.fmc-hover-four-horizontal2:after{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-horizontal2:after{
	right: -100%;
}
.fmc-hover-four-horizontal:hover .fmc-hover-four-horizontal2:after{
	right: 0%;
}

/* fmc-hover-four-middle*/
.fmc-hover-four-middle{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.fmc-hover-four-middle1:before{
	content: '';
	position: absolute;
	top:25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-middle1:before{
	transform: translate(-50%,-50%) scale(0);
}
.fmc-hover-four-middle:hover .fmc-hover-four-middle1:before{
	transform: translate(-50%,-50%) scale(1);
}

.fmc-hover-four-middle1:after{
	content: '';
	position: absolute;
	left: 25%;
	bottom: -25%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-middle1:after{
	transform: translate(-50%,-50%) scale(0);
}
.fmc-hover-four-middle:hover .fmc-hover-four-middle1:after{
	transform: translate(-50%,-50%) scale(1);
}

.fmc-hover-four-middle2:before{
	content: '';
	position: absolute;
	left: 75%;
	top: 25%;
	right: 25%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-middle2:before{
	transform: translate(-50%,-50%) scale(0);
}
.fmc-hover-four-middle:hover .fmc-hover-four-middle2:before{
	transform: translate(-50%,-50%) scale(1);
}

.fmc-hover-four-middle2:after{
	content: '';
	position: absolute;
	left: 75%;
	top: 75%;
	bottom: 25%;
	right: 25%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-middle2:after{
	transform: translate(-50%,-50%) scale(0);
}
.fmc-hover-four-middle:hover .fmc-hover-four-middle2:after{
	transform: translate(-50%,-50%) scale(1);
}

/* fmc-hover-four-middle-circle*/
.fmc-hover-four-middle-circle{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.fmc-hover-four-middle-circle1:before{
	content: '';
	position: absolute;
	top:0%;
	left: 0%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	border-radius: 50%;
	transition: 1s;
}
.fmc-hover-four-middle-circle1:before{
	top: -50%;
	left: -50%;
}
.fmc-hover-four-middle-circle:hover .fmc-hover-four-middle-circle1:before{
	top: 0%;
	left: 0%;
	border-radius: 0%;
}

.fmc-hover-four-middle-circle1:after{
	content: '';
	position: absolute;
	left: 0%;
	bottom: 0%;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-middle-circle1:after{
	left: -50%;
	bottom: -50%;
}
.fmc-hover-four-middle-circle:hover .fmc-hover-four-middle-circle1:after{
	left: 0%;
	bottom: 0%;
	border-radius: 0%;
}

.fmc-hover-four-middle-circle2:before{
	content: '';
	position: absolute;
	right: 0%;
	top: 0%;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-middle-circle2:before{
	right: -50%;
	top: -50%;
}
.fmc-hover-four-middle-circle:hover .fmc-hover-four-middle-circle2:before{
	right: 0%;
	top: 0%;
	border-radius: 0%;
}

.fmc-hover-four-middle-circle2:after{
	content: '';
	position: absolute;
	right: 0%;
	bottom: 0%;
	right: 25%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
	border-radius: 50%;
}
.fmc-hover-four-middle-circle2:after{
	right: -50%;
	bottom: -50%;
}
.fmc-hover-four-middle-circle:hover .fmc-hover-four-middle-circle2:after{
	right: 0%;
	bottom: 0%;
	border-radius: 0%;
}

/* fmc-hover-four-adaptation */
.fmc-hover-four-adaptation{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.fmc-hover-four-adaptation1:before{
	content: '';
	position: absolute;
	top:0%;
	left: 0%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-adaptation1:before{
	top: -50%;
	left: -50%;
}
.fmc-hover-four-adaptation:hover .fmc-hover-four-adaptation1:before{
	top: 50%;
	left: 50%;
}

.fmc-hover-four-adaptation1:after{
	content: '';
	position: absolute;
	left: 0%;
	bottom: 0%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-adaptation1:after{
	left: -50%;
	bottom: -50%;
}
.fmc-hover-four-adaptation:hover .fmc-hover-four-adaptation1:after{
	left: 50%;
	bottom: 50%;
}

.fmc-hover-four-adaptation2:before{
	content: '';
	position: absolute;
	right: 0%;
	top: 0%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-adaptation2:before{
	right: -50%;
	top: -50%;
}
.fmc-hover-four-adaptation:hover .fmc-hover-four-adaptation2:before{
	right: 50%;
	top: 50%;
}

.fmc-hover-four-adaptation2:after{
	content: '';
	position: absolute;
	right: 0%;
	bottom: 0%;
	right: 25%;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 1s;
}
.fmc-hover-four-adaptation2:after{
	right: -50%;
	bottom: -50%;
}
.fmc-hover-four-adaptation:hover .fmc-hover-four-adaptation2:after{
	right: 50%;
	bottom: 50%;
}

/* fmc-hover-animation */
.fmc-hover-animation{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.fmc-hover-animation1{
	position: absolute;
	top:0%;
	right: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	transition: 0.7s;
}
.fmc-hover-animation1{
	right: -100%;
}
.fmc-hover-animation:hover .fmc-hover-animation1{
	right: 0%;
}

.fmc-hover-animation1:before{
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: crimson;
	opacity: 0.5;
	z-index: -1;
	top:5%;
	right: -200px;
	transform: rotate(0deg);
}
.fmc-hover-animation:hover .fmc-hover-animation1:before{
	right: 0;
	animation: box 10s infinite linear;
}
.fmc-hover-animation1:after{
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: crimson;
	opacity: 0.5;
	z-index: -1;
	top: 5%;
	right: -200px;
	transform: rotate(0deg);
	top: 50%;
}
.fmc-hover-animation:hover .fmc-hover-animation1:after{
	right: 0;
	animation: box 15s infinite linear;
}

.fmc-hover-animation2:before{
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: crimson;
	opacity: 0.5;
	z-index: 1;
	top: 5%;
	right: -200px;
	transform: rotate(0deg);
	top: 30%;
}
.fmc-hover-animation:hover .fmc-hover-animation2:before{
	right: 0;
	animation: box 13s infinite linear;
}

.fmc-hover-animation2:after{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: crimson;
	opacity: 0.5;
	z-index: 1;
	top: 5%;
	right: -200px;
	transform: rotate(0deg);
	top: 30%;
}
.fmc-hover-animation:hover .fmc-hover-animation2:after{
	right: 0;
	animation: box 8s infinite linear;
}


@keyframes box{
	from{
		right: -100px;
	}
	to{
		right: 130%;
		transform: rotate(360deg);
	}
}