/*------------------------------------------------------------------
[Master Stylesheet]

Project           : Flamecore Organization
Name Project      : App Started Background Animation
Version           : 1.0
Last change       : 22/08/2017 [Create Project]
Framework css	   : Core Framework http://getcore.github.io
Framework Version : 3.0 Pop Green
Author            : Andika Chamberlin
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. App Started Background Animation
   container            / .fmc-app-container
   Browser Width        / .fmc-app-layout
   Text Header          / .fmc-app-header
   Video App            / .fmc-app-smartphone
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

Background Image	   : bg-3-pixabay by pixabay.com
Background Transfarent : rgba(255,255,255,0.2)
Background Animation   : rgba(255,255,255,0.2)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body : 16px Segoe UI, sans-serif by Core Framework
h1   : by Core Framework
-------------------------------------------------------------------*/

.fmc-app-container{
   position: fixed;
   height: 100%;
   width: 100%;
   background-image: url(../images/bg-3-pixabay.png);
   background-size: cover;
   background-repeat: no-repeat;
   -webkit-transition: 5s;
   -o-transition: 5s;
   transition: 5s;
   overflow: hidden;
   -webkit-perspective: 1000px;
   -moz-perspective: 1000px;
   -ms-perspective: 1000px;
   perspective: 1000px;
}
.fmc-app-container:hover{
   -webkit-filter: hue-rotate(40deg);
   -o-filter: hue-rotate(40deg);
   filter: hue-rotate(40deg);
}
.fmc-app-layout{
   max-width: 1200px;
   margin: auto;
   position: relative;
   height: 100%;
}

.fmc-app-header{
   position: absolute;
   top: 50%;
   left: 30%;
   -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 
}
.fmc-app-header h1{
   color: #fff;
   opacity: 0.4;
}
.fmc-app-header p{
   color: #fff;
   opacity: 0.4;
}
.fmc-app-smartphone{
   border: 20px solid rgba(255,255,255,0.2);
   box-shadow: 0 0 3px rgba(255,255,255,0.2);
   border-bottom-width: 30px;
   border-top-width: 30px;
   border-radius: 16px;
   height: 500px;
   width: 288px;
   position: absolute;
   top: 50%;
   left: 80%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
@media (max-width: 1024px){
   .fmc-app-smartphone{
      height: 415px;
      width: 240px;
   }
}
@media (max-width: 993px){
   .fmc-app-smartphone{
      display: none;
   }
   .fmc-app-header{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%); 
      text-align: center;
   }
}
.fmc-app-video{
   border: none;
   height: 100%;
   width: 100%;
}
.fmc-app-download{
   padding: 12px 16px;
   border: none;
   outline: none;
   background-color: rgba(255,255,255, 0.2);
   opacity: 0.5;
   color: #fff;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}
.fmc-app-download:hover{
   background-color: rgba(255,255,255, 0.3);
}

.fmc-app-smartphone{
   -webkit-animation: rotate 9s infinite linear;
   -o-animation: rotate 9s infinite linear;
   animation: rotate 9s infinite linear;
}

@keyframes rotate{
   from{
        -webkit-transform: translate(-50%,-50%) rotateY(-180deg);
        -ms-transform: translate(-50%,-50%) rotateY(-180deg);
        -o-transform: translate(-50%,-50%) rotateY(-180deg);
        transform: translate(-50%,-50%) rotateY(-180deg);
   } to{
        -webkit-transform: translate(-50%,-50%) rotateY(0deg);
        -ms-transform: translate(-50%,-50%) rotateY(0deg);
        -o-transform: translate(-50%,-50%) rotateY(0deg);
        transform: translate(-50%,-50%) rotateY(0deg);
   }
}
@-webkit-keyframes rotate{
   from{
        -webkit-transform: translate(-50%,-50%) rotateY(-180deg);
        -ms-transform: translate(-50%,-50%) rotateY(-180deg);
        -o-transform: translate(-50%,-50%) rotateY(-180deg);
        transform: translate(-50%,-50%) rotateY(-180deg);
   } to{
        -webkit-transform: translate(-50%,-50%) rotateY(0deg);
        -ms-transform: translate(-50%,-50%) rotateY(0deg);
        -o-transform: translate(-50%,-50%) rotateY(0deg);
        transform: translate(-50%,-50%) rotateY(0deg);
   }
}
@-o-keyframes rotate{
   from{
        -webkit-transform: translate(-50%,-50%) rotateY(-180deg);
        -ms-transform: translate(-50%,-50%) rotateY(-180deg);
        -o-transform: translate(-50%,-50%) rotateY(-180deg);
        transform: translate(-50%,-50%) rotateY(-180deg);
   } to{
        -webkit-transform: translate(-50%,-50%) rotateY(0deg);
        -ms-transform: translate(-50%,-50%) rotateY(0deg);
        -o-transform: translate(-50%,-50%) rotateY(0deg);
        transform: translate(-50%,-50%) rotateY(0deg);
   }
}

.fmc-box:nth-child(1){
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 10;
    background-color: rgba(255,255,255,0.2);
    left: 7%;
    bottom: 0;
    -webkit-animation: bgAnimation 10s infinite linear;
    -o-animation: bgAnimation 10s infinite linear;
    animation: bgAnimation 10s infinite linear;
    -webkit-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
}
.fmc-box:nth-child(2){
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgba(255,255,255,0.2);
    left: 20%;
    bottom: 0;
    -webkit-animation: bgAnimation 20s infinite linear;
    -o-animation: bgAnimation 20s infinite linear;
    animation: bgAnimation 20s infinite linear;
}
.fmc-box:nth-child(3){
    position: absolute;
    height: 170px;
    width: 170px;
    background-color: rgba(255,255,255,0.2);
    left: 30%;
    bottom: 0;
    -webkit-animation: bgAnimation 30s infinite linear;
    -o-animation: bgAnimation 30s infinite linear;
    animation: bgAnimation 30s infinite linear;
}
.fmc-box:nth-child(4){
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: rgba(255,255,255,0.2);
    left: 40%;
    bottom: 0;
    -webkit-animation: bgAnimation 25s infinite linear;
    -o-animation: bgAnimation 25s infinite linear;
    animation: bgAnimation 25s infinite linear;
}
.fmc-box:nth-child(5){
    position: absolute;
    height: 90px;
    width: 90px;
    background-color: rgba(255,255,255,0.2);
    left: 50%;
    bottom: 0;
    -webkit-animation: bgAnimation 18s infinite linear;
    -o-animation: bgAnimation 18s infinite linear;
    animation: bgAnimation 18s infinite linear;
}
.fmc-box:nth-child(6){
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: rgba(255,255,255,0.2);
    left: 60%;
    bottom: 0;
    -webkit-animation: bgAnimation 23s infinite linear;
    -o-animation: bgAnimation 23s infinite linear;
    animation: bgAnimation 23s infinite linear;
}
.fmc-box:nth-child(7){
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: rgba(255,255,255,0.2);
    left: 70%;
    bottom: 0;
    -webkit-animation: bgAnimation 13s infinite linear;
    -o-animation: bgAnimation 13s infinite linear;
    animation: bgAnimation 13s infinite linear;
}
.fmc-box:nth-child(8){
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: rgba(255,255,255,0.2);
    left: 80%;
    bottom: 0;
    -webkit-animation: bgAnimation 17s infinite linear;
    -o-animation: bgAnimation 17s infinite linear;
    animation: bgAnimation 17s infinite linear;
}
.fmc-box:nth-child(9){
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: rgba(255,255,255,0.2);
    left: 90%;
    bottom: 0;
    -webkit-animation: bgAnimation 16s infinite linear;
    -o-animation: bgAnimation 16s infinite linear;
    animation: bgAnimation 16s infinite linear;
}
.fmc-box:nth-child(10){
    position: absolute;
    height: 170px;
    width: 170px;
    background-color: rgba(255,255,255,0.2);
    left: 95%;
    bottom: 0;
    -webkit-animation: bgAnimation 28s infinite linear;
    -o-animation: bgAnimation 28s infinite linear;
    animation: bgAnimation 28s infinite linear;
}
@keyframes bgAnimation{
   from{
        bottom: -300px;
        opacity: 0;
   } to{
        bottom: 100%;
        opacity: 0.3;
        -webkit-transform: rotateY(1000deg);
        -ms-transform: rotateY(1000deg);
        -o-transform: rotateY(1000deg);
        transform: rotate(1000deg);
   }
}
@-webkit-keyframes bgAnimation{
   from{
        bottom: -300px;
        opacity: 0;
   } to{
        bottom: 100%;
        -webkit-transform: rotateY(1000deg);
        -ms-transform: rotateY(1000deg);
        -o-transform: rotateY(1000deg);
        transform: rotate(1000deg);
        opacity: 0.3;
   }
}
@-o-keyframes bgAnimation{
   from{
        bottom: -300px;
        opacity: 0;
   } to{
        bottom: 100%;
        -webkit-transform: rotateY(1000deg);
        -ms-transform: rotateY(1000deg);
        -o-transform: rotateY(1000deg);
        transform: rotate(1000deg);
        opacity: 0.3;
   }
}